/******************************
*
* BYOB Theme: 8-bit dark
*
*******************************/

/** body **/
body {
    background-color: white;
    color: #084675;
}

/** font **/
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(http://themes.googleusercontent.com/static/fonts/frederickathegreat/v3/7Es8Lxoku-e5eOZWpxw18vc3vBAn7YvtW9hNjxWZBR0.woff) format('woff');
}

/** title **/
#title-left {
    color: #0c64a8;
    text-shadow: -2px 2px 2px #333;
}
#title-right {
    font-family: Fredericka the Great, courier new, monospace, sans-serif;
    font-size: 75px;
    color: #1299ff;
    text-shadow: -2px 2px 3px #999;
}
#meeting-info {
    color: #cc006d;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}

/** text **/
#schedule a {
    color: #1299ff;
}
#schedule a:hover {
    color: #ff1298;
}
#schedule a:nth-of-type(2) {
    color: #2e8b57;
}
#schedule a:nth-of-type(2):hover {
    color: #8c2e64;
}

a.link {
    color: #084675;
}
a.link:hover {
    color: #cc0e7a;
}

/** schedule **/
.schedule-header {
    color:#00A84E;
    font-weight: 700;
}

#schedule time {
    color: #0c64a8;
}

#current-date, #current-date a {
    color: #b8d2d9;
}

#current-date time {
    color: #CF4F88;
}
