/******************************
*
* BYOB theme: 8-bit (base)
*
*******************************/

/** body **/
body {

    font-family: courier new;
    text-align: center;
}
@font-face
{
    font-family: eightbit;
    src: url(../fonts/8-BIT_WONDER.TTF);
}

/** text **/
a {
    text-decoration: none;
}

a.link {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

/** title **/
#title-container {
    width:100%;
    margin: 50px 0 40px 0;
    text-align: center;
}
#title-left {
    font-family: helvetica;
    font-weight: bold;
    font-size:80px;
}
#title-right {
    font-family: eightbit, courier new, monospace, sans-serif;
    font-weight: normal;
    font-size: 70px;
}
#meeting-info {
    font-size: 12px;
}

/** menu **/
#menu {
}

/** schedule **/

#schedule {
    width: 930px;
    white-space: nowrap;
    font-size: 15px;
    font-family: verdana, bitstream vera sans, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    line-height: 1.5;
}

#schedule > ul {
    text-align: left;
    list-style-type: none;
}

#schedule time {
    display: inline-block;
    width: 50px;
    font-weight: bold;
    text-align: right;
    padding-right: 25px;
}

#current, #current a {
    font-weight: bold;
}

/** Menubar */
#menu {
    width: 100%;
    margin-top: 50px;
}

